<header>

  <p-menubar [model]="menuItems" class="p-menubar100 floating-bottom">
    <ng-template ptemplate="start" >

    </ng-template>

    <ng-template pTemplate="end">
      <ul>
      <div class="header-right">
        <li>
          <p-dropdown [options]="dropdownOptions"
                      [(ngModel)]="selectedOption">
          </p-dropdown>
        </li>
        @if (isConnected()){
          
          <div>
            <p-button (click)="handleLogout()" 
                      [outlined]="true" 
                      styleClass="smol-btn2"
                      label="{{ 'auth.logout' | translate }}"></p-button>
          </div>
          <li>
            <p-button pRipple
                      icon="pi pi-user" 
                      [outlined]="true"
                      (click)="showModal()" 
                      styleClass="smol-btn2">
            </p-button>
            <p-dialog class="modalConnect" 
                      header="{{'header.titlemodalprofil' | translate }}" 
                      [(visible)]="displayModal"
                      [modal]="true" 
                      [style]="{width: '400px'}">
              <a routerLink="profil" 
                (click)="displayModal=false">{{'header.majprofile' | translate}}</a>
              <ng-template pTemplate="footer">
                <p-button [rounded]="true"
                          [outlined]="true"
                          label="{{ 'header.close' | translate }}" 
                          size="small"
                          (click)="displayModal=false">
                </p-button>
              </ng-template>
            </p-dialog>
          </li>
        } @else {
          <div>
            <p-button routerLink="/auth/login"
                      [outlined]="true" 
                      styleClass="smol-btn2"
                      label="{{ 'auth.login' | translate }}"></p-button>
            <p-button routerLink="/auth/register"
                      [outlined]="true"
                      styleClass="smol-btn2"
                      label="{{ 'auth.register' | translate }}"></p-button>
          </div>
        }

        <li>
          <p-button size="small"
                    [outlined]="true"
                    [icon]="currentIcon"
                    (onClick)="toggleIcon()"
                    (click)="toggleDark()"
                    styleClass="smol-btn">
          </p-button>
        </li>
      </div>
    </ul>
    </ng-template>
  </p-menubar>
</header>
