:host ::ng-deep {
    .smol-btn {
        height: 2rem;
        width: 2rem;
    }

    .p-dropdown {
        height: 2rem;
    }
    .p-dropdown-label {
        margin: 0.4rem;
        padding: 0rem;
        text-align: center;
    }

}

