:host ::ng-deep {
    .smol-btn {
        height: 2rem;
        width: 2rem;
    }
    .p-dropdown {
        height: 2rem;
    }
    .p-dropdown-label {
        margin: 0.4rem;
        padding: 0rem;
        text-align: center;
    }

    .header-right{
        display: flex;
        align-items: center; 
        gap: 10px;
    }

    .p-menubar100{
        display: flex; 
        justify-content: center;
        
        div{
            border-radius: 3rem;
        }
    }
}