@import "primeng/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primeng/resources/primeng.min.css";


body {
    background-color: rgb(17, 3, 20);
    color: white;
}

.p-component {
    background-color: rgb(17, 3, 20);
    border-color: rgb(17, 3, 20);
    color: white;
}
.p-menuitem-content{
    background-color: rgb(17, 3, 20);
}
.p-menuitem-text {
    color: white;
}
.p-menuitem-link {
    background-color: rgb(17, 3, 20);
    color: white;
}
.p-menuitem-link:hover {
    background-color: rgb(84, 43, 94);
    border-radius: 8px;
    color: white;
}
.p-inputtext {
    background-color: rgb(17, 3, 20);
    color: white;
}
.p-dropdown-trigger-icon {
    color: white;
}
.p-dropdown-item {
    color: white;
    background-color: rgb(17, 3, 20);
}
.p-dropdown-item:hover {
    background-color: rgb(84, 43, 94);
    color: white;
    border-radius: 5px;
}

.p-dialog-header {
    background-color: rgb(89, 43, 100);
    color: white;
}
.p-dialog-content {
    background-color: rgb(89, 43, 100);
    color: white;
}
.ng-tns-c662934324-0{
    color: white;
    text-decoration: none;
}
.p-dialog-footer {
    background-color: rgb(89, 43, 100);
    color: white;;
}