<p-table
  [value]="complaints"
  [lazy]="true"
  (onLazyLoad)="loadComplaints()"
  dataKey="id"
  [first]="first"
  [rows]="rows"
  [tableStyle]="{ 'min-width': '75rem' }"
  [paginator]="true"
  [totalRecords]="totalRecords"
  [loading]="loading"
  (onPage)="pageChange($event)"
  [rowsPerPageOptions]="[5, 10, 20]"
>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem"></th>
      <th>
        fileNumber
      </th>
      <th>
        Date
      </th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-complaint>
      <tr>
        <td>
          <p-tableCheckbox [value]="complaint"></p-tableCheckbox>
        </td>
        <td>{{ complaint.fileNumber }}</td>
        <td>{{ complaint.date }}</td>
      </tr>
    </ng-template>



</p-table>