<p-table
  [value]="complaints"
  [lazy]="true"
  (onLazyLoad)="loadComplaints()"
  dataKey="id"
  [first]="first"
  [rows]="rows"
  [tableStyle]="{ 'min-width': '75rem' }"
  [paginator]="true"
  [totalRecords]="totalRecords"
  [loading]="loading"
  (onPage)="pageChange($event)"
  [rowsPerPageOptions]="[5, 10, 20]"
>

  <ng-template pTemplate="header">
    <tr>
      <th>
        ID
      </th>
      <th>
        {{ 'complaint.fileNumber' | translate }}
      </th>
      <th>
        {{ 'complaint.status' | translate }}
      </th>
      <th>
        {{ 'complaint.date' | translate }}
      </th>
      <th>
        {{ 'complaint.complaint' | translate }}
      </th>
      <th>
        {{ 'complaint.agent' | translate }}
      </th>
      <th></th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-complaint>
      <tr>
        <td> {{ complaint.id }}</td>
        <td>{{ complaint.fileNumber }}</td>
        <td>{{ translateStatus(complaint.status) | translate }}</td>
        <td>{{ complaint.date | customDateFormat }}</td>
        <td>{{ complaint.complaint.firstname }} {{ complaint.complaint.name }}</td>
        <td>{{ complaint.agent.firstname }} {{ complaint.agent.name }}</td>
        <td><p-button (click)="viewDetails(complaint.id)" label="{{'complaint.viewDetails' | translate}}"></p-button></td>
      </tr>
    </ng-template>
</p-table>