body {
  font-family: 'Arial', sans-serif;
  background-color: #0056b3;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black;
}

.card {
  background-color: #c6b7ae;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: black;
}

input[pInputText], input[pPassword], p-inputMask, p-calendar, p-dropdown, p-fileUpload {
  width: calc(20% - 20px);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px;
  background-color: white;
  color: black;
}

p-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin: 10px 0;
  display: inline-block;
  border-radius: 5px;
  align-self: flex-start;
}

p-button:hover {
  background-color: #0056b3;
}

.date-encodings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}

.date-encoding {
  flex: 1;
}

p-inputGroup {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 14%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555555;
}
