<p-table
  [value]="persons"
  [lazy]="true"
  (onLazyLoad)="loadPersons()"
  dataKey="id"
  [first]="first"
  [rows]="rows"
  [tableStyle]="{ 'min-width': '75rem' }"
  [paginator]="true"
  [totalRecords]="totalRecords"
  [loading]="loading"
  (onPage)="pageChange($event)"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem"></th>
      <th>
        {{ 'auth.lastName' | translate }}
      </th>
      <th>
        {{ 'auth.firstName' | translate }}
      </th>
      <th>
        {{ 'auth.nationalRegister' | translate }}
      </th>
      <th>
        {{ 'auth.gender' | translate }}
      </th>
      <th>
        {{ 'auth.birthplace' | translate }}
      </th>
      <th>
        {{ 'auth.birthdate' | translate }}
      </th>
    </tr>
<!--    <tr>-->
<!--      <th style="width: 4rem">-->
<!--        <p-tableHeaderCheckbox />-->
<!--      </th>-->
<!--      <th>-->
<!--        <p-columnFilter type="text" field="name" />-->
<!--      </th>-->
<!--      <th>-->
<!--        <p-columnFilter type="text" field="firstName" />-->
<!--      </th>-->
<!--      <th>-->
<!--        <p-columnFilter type="text" field="nationalRegister" />-->
<!--      </th>-->
<!--      <th>-->
<!--        <p-columnFilter type="text" field="gender" />-->
<!--      </th>-->
<!--      <th>-->
<!--        <p-columnFilter type="text" field="birthplace" />-->
<!--      </th>-->
<!--      <th>-->
<!--        <p-columnFilter type="text" field="birthdate" />-->
<!--      </th>-->
<!--    </tr>-->
  </ng-template>
  <ng-template pTemplate="body" let-person>
    <tr>
      <td>
        <p-tableCheckbox [value]="person"></p-tableCheckbox>
      </td>
      <td>{{ person.name }}</td>
      <td>{{ person.firstname }}</td>
      <td>{{ person.nationalRegister }}</td>
      <td>{{ person.gender }}</td>
      <td>{{ person.birthDate }}</td>
      <td>{{ person.birthPlace }}</td>
    </tr>
  </ng-template>
</p-table>
